<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://cs411523.vk.me/v411523649/85e3/oMYSmE-G4Yg.jpg</string>
	<string>http://cs14101.vk.me/c7008/v7008649/69ca/tS6WsYGIeU4.jpg</string>
	<string>http://cs418725.vk.me/v418725649/6839/7k_iWmTJJSQ.jpg</string>
	<string>http://img-fotki.yandex.ru/get/6413/105637018.37/0_85bf4_22d149ff_XL.jpg</string>
	<string>http://photo-day.ru/wp-content/uploads/2012/05/00876w78.jpg</string>
	<string>http://brick.in.ua/uploads/img/kinopoisk.ru-al-pacino-491456--w--1024.jpg</string>
	<string>http://cs409222.vk.me/v409222051/271c/j6Vv-I6l0cQ.jpg</string>
	<string>http://cs9192.vk.me/v9192123/238a/SRRQUIgFW5w.jpg</string>
	<string>http://gollivud.com/uploads/posts/2011-10/1318440382_al_pacino_008_1.jpg</string>
	<string>http://cs407623.vk.me/v407623245/3149/zMLDnktfAN4.jpg</string>
	<string>http://cs316116.vk.me/v316116245/187f/0SgB_8mkOq8.jpg</string>
	<string>http://cs307601.vk.me/v307601245/59d/9yW4vb6qjqA.jpg</string>
	<string>http://cs307601.vk.me/v307601245/4e7/O9g4d707C2s.jpg</string>
	<string>http://cs306609.vk.me/v306609296/7f87/lDYFzpL7rE8.jpg</string>
	<string>http://cs319331.vk.me/v319331903/33dd/jGzAE3QaKZQ.jpg</string>
</array>
</plist>
