<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>avatar</key>
		<string>http://cs7008.vk.me/v7008649/73bc/eWBB_jjwN9c.jpg</string>
		<key>name</key>
		<string>Vitaly Berg</string>
		<key>date</key>
		<string>1h</string>
		<key>comment</key>
		<string>A court freed him from detention on July 19, pending an appeal of the court&apos;s ruling against him.</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>http://cs7008.vk.me/v7008649/73bc/eWBB_jjwN9c.jpg</string>
		<key>name</key>
		<string>Vitaly Berg</string>
		<key>date</key>
		<string>1h</string>
		<key>comment</key>
		<string>A court freed him from detention on July 19, pending an appeal of the court&apos;s ruling against him.</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>http://cs7008.vk.me/v7008649/73bc/eWBB_jjwN9c.jpg</string>
		<key>name</key>
		<string>Vitaly Berg</string>
		<key>date</key>
		<string>1h</string>
		<key>comment</key>
		<string>A court</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>http://cs7008.vk.me/v7008649/73bc/eWBB_jjwN9c.jpg</string>
		<key>name</key>
		<string>Vitaly Berg</string>
		<key>date</key>
		<string>1h</string>
		<key>comment</key>
		<string>A court freed him from detention on July 19, pending an appeal of the court&apos;s ruling against him.</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>http://cs7008.vk.me/v7008649/73bc/eWBB_jjwN9c.jpg</string>
		<key>name</key>
		<string>Инокентий Пирожков</string>
		<key>date</key>
		<string>42</string>
		<key>comment</key>
		<string>A court freed him fro</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>http://cs7008.vk.me/v7008649/73bc/eWBB_jjwN9c.jpg</string>
		<key>name</key>
		<string>Гваделупович Останкин</string>
		<key>date</key>
		<string>435.043.3453</string>
		<key>comment</key>
		<string>A court freed him from detention on July 19, pending an appeal of the court&apos;s ruling against him.</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>http://cs7008.vk.me/v7008649/73bc/eWBB_jjwN9c.jpg</string>
		<key>name</key>
		<string>Изолента</string>
		<key>date</key>
		<string>324</string>
		<key>comment</key>
		<string>A court freed him from detention on July 19, pending an appeal of the court&apos;s ruling.</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>http://cs7008.vk.me/v7008649/73bc/eWBB_jjwN9c.jpg</string>
		<key>name</key>
		<string>Григорий Шлепс</string>
		<key>date</key>
		<string>13d</string>
		<key>comment</key>
		<string>A court freed him from detention on </string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>http://cs7008.vk.me/v7008649/73bc/eWBB_jjwN9c.jpg</string>
		<key>name</key>
		<string>Vitaly Berg</string>
		<key>date</key>
		<string>1h</string>
		<key>comment</key>
		<string>A court freed him from detention on July 19, pending an appeal of the court&apos;s ruling against him.</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>http://cs7008.vk.me/v7008649/73bc/eWBB_jjwN9c.jpg</string>
		<key>name</key>
		<string>Арнольд Шварцнегер</string>
		<key>date</key>
		<string>1h</string>
		<key>comment</key>
		<string>A court freed him from detention on July 19, pending an appeal of the court&apos;s ruling against him.</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>http://cs7008.vk.me/v7008649/73bc/eWBB_jjwN9c.jpg</string>
		<key>name</key>
		<string>Тим Бертн</string>
		<key>date</key>
		<string>23.23.2323</string>
		<key>comment</key>
		<string>A court freed him from detention on July 19, pending an appeal of the court&apos;s ruling against him.</string>
	</dict>
</array>
</plist>
