<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://farm4.staticflickr.com/3832/9223582568_7f97c7b324_h.jpg</string>
	<string>http://farm4.staticflickr.com/3755/9219897151_e23a196a90_h.jpg</string>
	<string>http://farm3.staticflickr.com/2835/9224357958_67f808301a_h.jpg</string>
	<string>http://farm8.staticflickr.com/7290/9222926679_961e9d71ca_h.jpg</string>
	<string>http://farm3.staticflickr.com/2890/9223189010_b8925f34d7_h.jpg</string>
	<string>http://farm8.staticflickr.com/7405/9219590627_5df1090367_h.jpg</string>
	<string>http://farm8.staticflickr.com/7393/9222251480_69d0137f76_h.jpg</string>
	<string>http://farm8.staticflickr.com/7328/9224509338_ed9d3ff19d_h.jpg</string>
	<string>http://farm4.staticflickr.com/3020/5716375186_28e9da194f_b.jpg</string>
</array>
</plist>
